html, body {
    margin: 0;
    height: 100vh;
    background: #989898;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.battleships {
    font-size: 3rem;
    font-weight: bolder;
}

/* Game */
.game-boards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.game-table {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    grid-auto-flow: column;
    border: 2px solid black;
    background-color: white;
}

.cell {
    width: 49px;
    height: 49px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #e3f2fd;
    cursor: pointer;
}

.cell.ship {
    background-color: gray;
}

.cell.hit {
    background-color: red;
}

.cell.miss {
    background-color: #474b53;
}

.control-btns {
    display: flex;
}

.reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 5rem;
    margin-top: 2rem;
    background-color: #ff7676;
    border-radius: 5px;
    border: none;
}

.reset-btn:hover {
    background-color: #ff4b4b;
}

.nahodne-rozestaveni-lodi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 5rem;
    margin-top: 2rem;
    background-color: #2adaff;
    border-radius: 5px;
    border: none;
}

.nahodne-rozestaveni-lodi:hover {
    background-color: #4494a5;
}